@model CoctailsGuideWebApplication.Coctails

@{
    ViewData["Title"] = "Create";
}

<!--<h1>Create</h1>-->

<h4>Коктейль</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearofCreation" class="control-label"></label>
                <input asp-for="YearofCreation" class="form-control" />
                <span asp-validation-for="YearofCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryofCreationId" class="control-label"></label>
                <select asp-for="CountryofCreationId" class="form-control" asp-items="ViewBag.CountryofCreationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CreationHistory" class="control-label"></label>
                <input asp-for="CreationHistory" class="form-control" />
                <span asp-validation-for="CreationHistory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrengthId" class="control-label"></label>
                <select asp-for="StrengthId" class="form-control" asp-items="ViewBag.StrengthId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TechniqueId" class="control-label"></label>
                <select asp-for="TechniqueId" class="form-control" asp-items="ViewBag.TechniqueId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GlassId" class="control-label"></label>
                <select asp-for="GlassId" class="form-control" asp-items="ViewBag.GlassId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Recipe" class="control-label"></label>
                <input asp-for="Recipe" class="form-control" />
                <span asp-validation-for="Recipe" class="text-danger"></span>
            </div>
            <div>
                <a asp-controller="Compounds" asp-action="Create" asp-route-id="@ViewBag.CoctailsId">Додати інгредієнти до коктейля</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Coctails" asp-action="Index">Повернутися до списку коктейлів</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
