@model CoctailsGuideWebApplication.ViewModel.LoginViewModel

<div class="card text-white bg-primary mb-3" style="width: 20rem; height: 10rem">
    <div class="card-body">
        <h4 class="card-title">Login</h4>
    </div>
</div>

<form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
    <fieldset>
        <div class="form-group">
            <label asp-for="Email"></label> <br />
            <div asp-validation-summary="ModelOnly"></div>
            <input type="email" class="form-control" asp-for="Email" aria-describedby="emailHelp" placeholder="Enter email">
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label> <br />
            <input type="password" class="form-control" asp-for="Password" placeholder="Password">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="RememberMe"></label> <br />
            <input class="form-check" type="checkbox" asp-for="RememberMe" />
        </div>
        <div class="form-group">
            <input role="button" class="btn btn-dark" type="submit" value="Sign in" />
        </div>
</fieldset>
</form>



        

